.slide1h1 {
  font-size: 8rem;
  padding-top:125px;
  margin-bottom:50px;
  text-transform: uppercase;
  font-weight: 800;
  color:white;
}

.slide1h2 {
  font-size: 3rem;
  padding:0px 150px 0px 150px;
  color:white;
  margin-bottom: 75px;
}

.slide1btn {
  background-color: transparent;
  
  color: white;
}
