body {
  font-family:'Bree Serif', serif;
}

h1 {
  font-family:'Bree Serif', serif;
}

h2 {
  font-family:'Bree Serif', serif;
  font-size:20px;
}

p {
  font-family: 'Playfair Display', serif;
  line-height:25px;
}

a {
  color:white;
}

a:hover {
  color:#70e1f5;
}

.padding-0 {
  padding-left:0;
  padding-right:0;
}

.section-hello {
  height:125vh;
  background: url("../images/hill.svg"), linear-gradient(to bottom, #ffd194, #70e1f5);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  position:relative;
  z-index:50;
}

.section-hello>div {
  color:white;
  padding:150px 100px 100px 100px;
}

.section-hello>img {
  width:10%;
  position:absolute;
  bottom:150px;
  left:45%;
  right:0;
  transform:translateX(-50%);
}

.section-skillset {
  padding:20%;
  height:100vh;
  background:linear-gradient(to bottom, #9DE4F0, #00ACC1);
  z-index:-25;
  color:white;
}

.section-skillset-img-container {
  position:relative;
}

.section-skillset-img-container img {
  position:absolute;
  top:75px;
  width:125%;
  /* transform: translateX(50%) translateY(30%); */
  opacity:0;
}

.section-skillset h1 {
  margin-bottom:75px;
}

.section-skillset h2 {
  opacity:0;
}

.section-skillset p {
  opacity:0;
  margin-bottom:50px;
}

.section-myprojects {
  background-color:white;
  height:auto;
  padding:10%;
}

.section-aboutme {
  height:100vh;
  padding:20%;
  background-color:#EEEEEE;
  color:#424242;
}

.section-aboutme img {
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:80%;
}

.section-aboutme h1 {
  margin-bottom:75px;
}

.section-aboutme p {
  opacity:0;
}

.footer {
  color:white;
  padding:50px 10% 50px 10%;
  background-color:#424242;
}

/* Navigation Bar */
.navbar {
  border:0;
  background-color:transparent;
  border-radius: 0px;
  padding:25px;
  text-transform: uppercase;
  transition:transform 0.5s ease-in-out;
}

.navbar-scroll-state {
  transform:translateY(-150px);
}

.navbar-default .navbar-nav > li > a {
    color:white;
}

.navbar-default .navbar-nav > li > a:hover {
    color:white;
}

.navbar-default .navbar-brand {
  color:white;
}

.navbar-default .navbar-brand:hover {
  color:white;
}

.navbar a:hover {
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, border-bottom-color 0.3s ease-in-out;
}

.navbar-nav>li>a:hover {
  background-color:transparent;
  border-bottom: 5px solid #ffffff;
  transition: border-bottom 0.1s ease-in-out;
}

.navbar-header>button>span {
  color:white;
}

.navbar-toggle {
  background-color:transparent;
}

.navbar-toggle:focus {
  background-color:white;
}

.navbar-toggle .icon-bar {
  background-color:#ffffff;
}

.navbar-toggle .icon-bar:focus {
  color:black;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color:transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color:transparent;
  border-color:transparent;
}

.navbar-default .navbar-toggle {
  border-color:transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color:white;
}

/* Media Queries */
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .section-hello {
    background: url("../images/hill-2.svg"), linear-gradient(to bottom, #ffd194, #70e1f5);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    height:100vh;
  }

  .section-hello>div {
    padding:150px 50px 100px 50px;
  }

  .section-hello>img {
    width:20%;
    bottom:100px;
  }

  .section-skillset {
    padding:10%;
  }

  .section-aboutme {
    padding:10%;
    height:auto;
  }
}
