body {
  font-family:'Bree Serif', serif;
}

h1 {
  font-family:'Hind', sans-serif;
  font-weight: 700;
}

h2 {
  font-family:'Open Sans', sans-serif;
  font-weight: 700;
  font-size:20px;
}

p {
  font-family: 'Open Sans', sans-serif;
  line-height:25px;
  opacity:0;
}

a {
  color:white;
}

a:hover {
  color:#70e1f5;
}

.padding-0 {
  padding-left:0;
  padding-right:0;
}

.section-hello {
  height:125vh;
  background: url("../images/hill.svg"), linear-gradient(to bottom, #ffd194, #70e1f5);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  position:relative;
  z-index:50;
}

.section-hello h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 60px;
}

.section-hello h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.section-hello>div {
  color:white;
  padding:150px 100px 100px 100px;
}

.section-hello>img {
  width:10%;
  position:absolute;
  bottom:150px;
  left:45%;
  right:0;
  transform:translateX(-50%);
}

.section-skillset {
  padding:20%;
  height:100vh;
  background:linear-gradient(to bottom, #9DE4F0, #00ACC1);
  z-index:-25;
  color:white;
}

.section-skillset-img-container {
  position:relative;
}

.section-skillset-img-container img {
  position:absolute;
  top:75px;
  width:125%;
  /* transform: translateX(50%) translateY(30%); */
  opacity:0;
}

.section-skillset h1 {
  margin-bottom:75px;
}

.section-skillset h2 {
  opacity:0;
}

.section-skillset p {
  opacity:0;
  margin-bottom:50px;
}

.section-myprojects {
  background-color:white;
  /*height:auto;*/
  height:140vh;
  padding:10%;
}

.height-transition {
  transition:height 0.3s ease-in-out;
}

.section-myprojects h1 {
  margin-bottom:75px;
}

.carousel {
  position:static;
}

.carousel-override img{
/*  width:auto;
  height:600px;
  max-height:600px;
  margin-left:auto;
  margin-right:auto;
  transition:max-height 0.3s ease-in-out;*/
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.carousel-phone-override img{
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

.carousel-caption {
  position:static;
  color:#363636;
  text-shadow: none;
}

.carousel-caption h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.carousel-caption p {
  opacity:1;
  font-family: 'Open Sans', sans-serif;
}

.carousel-control.left {
  background-image:none;
}

.carousel-control.right {
  background-image:none;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
  color:black;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev {
  color:black;
}

.section-aboutme {
  height:100vh;
  padding:20%;
  background-color:#EEEEEE;
  color:#424242;
}

.section-aboutme .image_container {
  margin-left:25%;
}

.image_container {
  position:relative;
  margin-top:100px;
}

.image_container img {
  position:absolute;
}

.thesail {
  top:-150px;
  width:200px;
}

.theboat {
  top:0;
  bottom:0;
  left:0;
  right:0;
  width:250px;
  z-index:25;
}

.thewater  {
  top:225px;
  left:-200px;
  width:480px;
  z-index:50;
}

.thewater2 {
  top:120px;
  left:50px;
  width:380px;
  z-index: 0;
}


.section-aboutme h1 {
  margin-bottom:75px;
}

.section-aboutme p {
  color:#757575;
  /* font-size:150%;
  line-height: 175%; */
  opacity:0;
}

.section-contactme {
  height:100vh;
  padding:10%;
  /* background-color:#1D4C66; */
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #08363d, #85d8ce);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #08363d, #85d8ce); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:white;
}

.section-contactme h1 {
  font-family: 'Open Sans', sans-serif;
  line-height: 120%;
  font-size: 600%;
  margin-bottom:100px;
  opacity:0;
}

.section-contactme p {
  border:1px solid white;
  color:white;
  background-color:transparent;
  padding:15px;
  text-transform: uppercase;
  width:150px;
  text-align: center;
  font-weight: bold;
  transition:background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor:pointer;
}

.section-contactme span {
  border:1px solid white;
  color:white;
  background-color:transparent;
  padding:15px;
  text-transform: uppercase;
  width:150px;
  text-align: center;
  font-weight: bold;
  transition:background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor:pointer;
  font-family: 'Lora', serif;
  font-family: 'Open Sans', sans-serif;
}

.section-contactme span:nth-of-type(1) {
  margin-right:25px;
  /* padding:15px 25px 15px 25px; */
}

.section-contactme span:hover {
  background-color:white;
  color:#424242;
}

.footer {
  color:white;
  padding:20px 10% 20px 10%;
  background-color:#212121;
  font-family: 'Open Sans', sans-serif;
}

/* Happy navigation*/
/* The Overlay (background) */
.addBlur {
  filter:blur(9px);
}

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100vh;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0, 172, 193, 0.6); /* Black w/opacity */
    overflow: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 20%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;/*#818181;*/
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    opacity:0;
    transition: font-weight 0s ease-in;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  font-weight: 700;
}

/* Position the close button (top right corner) */
.glyphicon-menu-hamburger {
  font-size: 18px;
  padding-top:10px;
}

.overlay .closebtn {
    position: absolute;
    top: 5px;
    right: 15px;
    font-family: "Lora, Serif";
    font-size: 45px;
}

.NewNavMenu {
    color: white;
    cursor:pointer;
}

.paragraphTransition {
  animation: paragraph_transition 0.8s ease-in;
  animation-fill-mode: forwards;
}

@keyframes paragraph_transition {
  from {
    opacity: 0;
    transform: translateY(0px);
  }

  to {
    opacity: 1;
    transform: translateY(-10px);
  }
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* Navigation Bar */
.navbar {
  border:0;
  background-color:transparent;
  border-radius: 0px;
  padding:25px;
  text-transform: uppercase;
  transition:transform 0.5s ease-in-out;
  width:50%;
}

.navbar-scroll-state {
  transform:translateY(-150px);
}

.navbar-default .navbar-nav > li > a {
    color:white;
}

.navbar-default .navbar-nav > li > a:hover {
    color:white;
}

.navbar-default .navbar-brand {
  color:white;
}

.navbar-default .navbar-brand:hover {
  color:white;
}

.navbar a:hover {
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, border-bottom-color 0.3s ease-in-out;
}

.navbar-nav>li>a:hover {
  background-color:transparent;
  border-bottom: 5px solid #ffffff;
  transition: border-bottom 0.1s ease-in-out;
}

.navbar-header>button>span {
  color:white;
}

.navbar-toggle {
  background-color:transparent;
}

.navbar-toggle:focus {
  background-color:white;
}

.navbar-toggle .icon-bar {
  background-color:#ffffff;
}

.navbar-toggle .icon-bar:focus {
  color:black;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color:transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color:transparent;
  border-color:transparent;
}

.navbar-default .navbar-toggle {
  border-color:transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color:transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color:transparent;
  color:white;
}

.active {
  border-bottom:5px solid white;
}

/* Media Queries */
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .section-hello {
    background: url("../images/hill-2.svg"), linear-gradient(to bottom, #ffd194, #70e1f5);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    height:100vh;
  }

  .section-hello h1 {
    font-size: 40px;
  }

  .section-hello>div {
    padding:150px 50px 100px 50px;
  }

  .section-hello>img {
    width:20%;
    bottom:100px;
  }

  .section-skillset {
    padding:10%;
  }

  .section-aboutme {
    padding:10%;
    height:inherit;
  }

  .section-aboutme p {
    margin-bottom:100px;
  }

  .section-aboutme .image_container {
    margin-left:25%;
    margin-bottom:250px;
  }

  .thesail {
    top:-50px;
    width:100px;
  }

  .theboat {
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:140px;
  }

  .thewater  {
    top:120px;
    left:-80px;
    width:250px;
  }

  .thewater2 {
    top:80px;
    left:80px;
    width:150px;
  }

  .section-contactme {
    height:100vh;
  }

  .section-contactme h1 {
    font-size:250%;
    margin-bottom:50px;
    margin-top:60%;
  }

  .section-contactme span {
    font-size:75%;
  }

  .section-contactme span:nth-of-type(1) {
    margin-right:10px;
  }

  .section-myprojects {
    height:110vh;
  }

  .carousel-override img {
    width: auto;
    height:600 px;
    max-height: 600 px;
    margin-left: auto;
    margin-right: auto;
  }

  .carousel-phone-override img{
    width: auto;
    height:600 px;
    max-height: 600 px;
    margin-left: auto;
    margin-right: auto;
  }
}



@media only screen and (min-width: 420px) and (max-width: 767px) {
  .section-aboutme .image_container {
    margin-left:35%;
  }
}

@media only screen and (max-width: 320px) {
  .section-skillset {
    height:110vh;
  }

  .thewater2 {
    top:80px;
    left:70px;
    width:150px;
  }
}
